@font-face {
	font-family: "Toms Handwritten";
	src: url('fonts/toms_handwritten.eot');
	src: local('☺'), url('../fonts/toms_handwritten.eot?#iefix') format('embedded-opentype'), 
					 url('../fonts/toms_handwritten.woff') format('woff'),
					 url('../fonts/toms_handwritten.woff2') format('woff2'), 
					 url('../fonts/toms_handwritten.ttf') format('truetype'),
					 url('../fonts/toms_handwritten.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
html {
	font-size: 10px;
	font-family: sans-serif;
	/*position: relative;*/
	min-height: 100%;
}
body {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.42857143;
	background: url("../images/bg.jpg");
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}
.push {
	height: 40px;
}
.content-wrapper {
	width: 100%;
	margin: 0 auto;
	/*padding-top: -40px;*/
}
.content-wrapper, .footer-container{
	min-width: 320px;
}
.footer {
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(255,255,255,0.75);
	font-size: 14px;
	line-height: 40px;
}
.navbar {
	font-size: 21px;
	min-height: 45px;
	margin-bottom: 0;
	padding-top: 6px;
	border-radius: 0;
	position: relative;
	background-color: rgba(26, 26, 26, 0.95);
	border-bottom: 3px solid #6DB81C;
}
.nav {
	padding-left: 0;
	margin-bottom: 0;
}
.nav-pills {
	float: right;
}
.nav>li>a {
	padding: 7px 15px;
	color: #FA961E;
	font-size: 16px;
	line-height: 1.6;
}
.pinboard-title {
	background: url("../images/logo.png");
	width: 116px;
	height: 118px;
	transform: scale(0.3);
	float: left;
	margin-top: -3.5%;
	margin-bottom: -3%;
}
.navbar-left-title a, .navbar-left-title a:hover,
.navbar-left-title a:visited, .navbar-left-title a:focus {
	display: inline-block;
	float: left;
	color: #FA961E;
	text-decoration: none;
	font-family: "Toms Handwritten",Helvetica,Arial,sans-serif;
	font-size: 150%;
	letter-spacing: 3px;
	line-height: 1.5;
}
.navbar-right {
	color: rgba(255, 255, 255, 0.75);
	padding-right: 10px;
	min-width: 600px;
}
.text {
	font-family: "Toms Handwritten",Helvetica,Arial,sans-serif;
	letter-spacing: 5px;
	color: rgba(255, 255, 255, 1);
	text-shadow: -2px -2px 0 hsl(20, 91%, 57%),
             	-3px -3px 1px hsl(20, 91%, 57%);
}
.text-big{
	font-size: 11em;
	line-height: 0;
	text-shadow: -4px -4px 0 hsl(20, 91%, 57%),
             	-5px -5px 1px hsl(20, 91%, 57%);
}
.text-medium {
	font-size: 5em;
	line-height: 2;
}
.text-small	{
	font-size: 3em;	
}
.text-center {
	text-align: center;
}
.buttons-main-content {
	line-height: 1;
	margin-top: 12%;
}
.buttons-main-content a:first-of-type{
	float: left;
	margin-left: 10%;
}
.buttons-main-content a:last-of-type{
	float: right;
	margin-right: 10%;
}
.buttons-main-content a{
	color: #ffffff;
	font-family: "Toms Handwritten", Helvetica,Arial,sans-serif;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius: 20px 0px 20px 0px;
	-webkit-border-radius: 20px 0px 20px 0px;
	border: 3px solid #ffffff;
	font-weight: bold;
	font-size: 1.5em;
	padding: 2% 8% 1% 8%;
	letter-spacing: 4px;
	text-decoration: none;
	transition: background-color .3s linear;
	outline: none;
}
.buttons-main-content a:hover {
	background: #6DB81C;
	border: 3px solid #6DB81C;
	text-decoration: none;
}
.letter-right {
	background: url("../images/letter.png") no-repeat;
	font-family: "Toms Handwritten", Helvetica,Arial,sans-serif;
	transform: rotate(2deg);
	float: right;
	width: 87%;
	margin-top: 5%;
	padding: 6% 4%;
	letter-spacing: 2px;
}
.letter-right h3 {
	font-size: 3.5em;
}
.letter-right h4 {
	font-size: 3em;
	text-decoration: underline;
}
.letter-right p {
	font-size: 2em;
	padding-left: 2%;
	
}
/*Modals at welcome screen*/
.modal-body-center {
	width: 90%;
	display: inline-block;
  	vertical-align: middle;
}
.input-block {
	display: block;
	margin: 0 0 15px 0;
	width: 65%;
}
input[type="text"], input[type="password"], input[type="email"] {
	min-height: 35px;
	padding: 7px 8px;
	font-size: 13px;
	color: #333;
	vertical-align: middle;
	border-radius: 3px;
	background: #fff;
	border: 1px solid #ccc;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
	border-color: #6DB81C;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(83, 185, 52, 0.5);
}
label[for="login-field"], label[for="password-field"],
label[for="username-field"], label[for="email-field"],label[for="confirm-password-field"]{
	display: block;
	text-align: left;
	margin-bottom: 0;
}
.btn {
	padding: 6px 18px;
}
.btn-success {
	margin-right: 5%;
}
.center-block{
	float: none;
}
.add-pin-block {
	width: 100%;
	margin: 2% auto;
}
.btn-add-pin {
	background-color: #6DB81C;
	font-family: "Toms Handwritten", Helvetica,Arial,sans-serif;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius: 20px 0px 20px 0px;
	-webkit-border-radius: 20px 0px 20px 0px;
	border: 3px solid #ffffff;
	font-weight: bold;
	font-size: 1.5em;
	padding: 3% 8% 2% 8%;
	letter-spacing: 3px;
	text-decoration: none;
	outline: none;
	transition: background-color .3s linear;
}
.btn-add-pin img {
	margin-right: 3%;
}
.btn-add-pin, .btn-add-pin:focus, .btn-add-pin:hover,
.btn-add-pin:visited {
	display: block;
    color: #ffffff;
    text-decoration: none;
    width: 53%;
    margin: 0 auto;
}
.btn-add-pin:hover {
	background-color: #5ea018;
}

#settings-block {
	background-color: rgba(0, 0, 0, 0.3);
	width: 49%;
    margin: 1% auto;
    border-radius: 5px;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}
#settings-block .row {
	margin-top: 2%;
	margin-bottom: 2%;
}
#settings-block span {
	padding: 1% 4% 2% 4%;
	color: #ffffff;
	font-size: 1.2em;
}
.btn-save-setting {
	margin: 0% 2% 0% 2%;
}
.pin-color-select {
	margin-left: 4.6%;
}
/*Media queries*/
@media(min-width: 1200px) {
	.navbar-left-title a, .navbar-left-title a:hover,
	.navbar-left-title a:visited, .navbar-left-title a:focus {
	line-height: 1.5;
	margin-left: -1.5%;
	}
	.letter-right h3 {
    font-size: 3.5em;
	}
	.letter-right h4 {
    font-size: 3em; 
	}
	.letter-right p {
    font-size: 2em;
	}
	.text-medium {
    font-size: 4em;
    line-height: 2;
	}
	.text-big{
	font-size: 11em;
	}
	.btn-add-pin, .btn-add-pin:focus, .btn-add-pin:hover,
	.btn-add-pin:visited {
		width: 53%;
	}
}
@media(max-width: 1199px) and (min-width: 992px){
	.navbar-left-title a, .navbar-left-title a:hover,
	.navbar-left-title a:visited, .navbar-left-title a:focus {
	line-height: 1.75;
	margin-left: -1.5%;
	}
	.letter-right h3 {
    font-size: 2.7em;
	}
	.letter-right h4 {
    font-size: 2.2em; 
	}
	.letter-right p {
    font-size: 1.6em;
	}
	.text-medium {
    font-size: 5em;
    line-height: 1.2;
	}
	.text-big{
	font-size: 11em;
	}
	.text-small {
	font-size: 3em;
	}
	.nav>li>a {
    line-height: 2.1;
	}
}
@media(max-width: 991px) and (min-width: 768px){
	.navbar-left-title a, .navbar-left-title a:hover,
	.navbar-left-title a:visited, .navbar-left-title a:focus {
	line-height: 2.2;
	margin-left: -2.5%;
	}
	.letter-right h3 {
    font-size: 3em;
    margin-left: -20%;
	}
	.letter-right h4 {
    font-size: 2.3em;
    }
    .add-pin-block {
    width: 27%;
	}
	.nav>li>a {
    line-height: 2.7;
	}
	.btn-add-pin, .btn-add-pin:focus, .btn-add-pin:hover,
	.btn-add-pin:visited {
		width: 96%;
	}
}
@media (max-width: 767px) and (min-width: 481px) {
    body {
    padding-right: 0px;
    padding-left: 0px;
    }
    .footer{
    padding-left: 20px;
    padding-right: 20px;
    }
    .navbar-left-title a, .navbar-left-title a:hover,
	.navbar-left-title a:visited, .navbar-left-title a:focus {
	line-height: 2.9;
	margin-left: -2.5%;
	}
	.text-medium {
    font-size: 3em;
    line-height: 1;
	}
	.text-big{
	font-size: 8em;
	}
	.text-small{
	font-size: 2em;
	}
	.letter-right h3 {
    font-size: 2.5em;
    margin-left: 5%;
	}
	.letter-right h4 {
    font-size: 2em;
	}
	.letter-right p {
    font-size: 1.4em;
    }
    .nav>li>a {
    line-height: 3.7;
	}
	.btn-add-pin, .btn-add-pin:focus, .btn-add-pin:hover,
	.btn-add-pin:visited {
		width: 50%;
	}
}

@media(max-width: 480px){
	.navbar-left-title a, .navbar-left-title a:hover,
	.navbar-left-title a:visited, .navbar-left-title a:focus {
	line-height: 2.6;
	margin-left: -2.5%;
	}
	.text-big{
	font-size: 5em;
	}
	.text-small{
	font-size: 2em;
	}
	.text-medium {
    font-size: 3em;
    line-height: 1.5;
	}
	.letter-right h3 {
    font-size: 2.5em;
    margin-left: 5%;
	}
	.letter-right h4 {
    font-size: 2em;
	}
	.letter-right p {
    font-size: 1.4em;
    }
    .pinboard-title {
    margin-top: -8.5%;
    margin-bottom: -5%;
    }
    .buttons-main-content a:last-of-type {
    float: right;
    margin-right: 0%;
	}
	.buttons-main-content a:first-of-type {
    float: left;
    margin-left: 2%;
	}
	.btn-add-pin, .btn-add-pin:focus, .btn-add-pin:hover,
	.btn-add-pin:visited {
		width: 50%;
	}
}
